@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    --cor-home: #0B192C;
    --cor-planta: #000000;
    --cor-analise: #0B192C;
    --cor-fonte-home: #FFFFFF;
    --cor-fonte-home2: #FF6500;
    --cor-fonte-planta: #FF6500;
}

body {
    height: 100vh;
    box-sizing: border-box;
    font-family: "Yrsa", sans-serif; 
}

a {
    color: var(--cor-fonte-home);
}

header {
    position: fixed;
    width: 100%;
    background-color: var(--cor-planta);
    padding: 30px 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: #FFFFFF;
    text-transform: uppercase;
    transition: color 0.3s;
}

.nav-link:hover {
    color: var(--cor-fonte-home2);
}

.btn-login {
    background-color: #FF6500;
    border-radius: 8px;
    margin-left: 100px;
}

.btn-login:hover {
    background-color: #FFFFFF;
    color: #FF6500;
}

.home-container {
    background-color: var(--cor-home);
}

.content-home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2rem; 
    text-transform: uppercase;
}

.content-home h1 {
    color: var(--cor-fonte-home);
    font: 700 4rem/1.6 "Markazi Text", sans-serif;
}

.content-home h3 {
    color: var(--cor-fonte-home2);
    font: 400 2rem/1.1 "Markazi Text", sans-serif;
}

.planta-container {
    background-color: var(--cor-planta);
    min-height: 100vh;
    padding: 150px 0;
}

.content-planta img {
    height: 70vh;
    width: auto;
}

.content-planta h2 {
    font: 500 3rem/1.1 "Markazi Text", sans-serif;
    text-transform: uppercase;
    color: var(--cor-fonte-home);
}

.content-analise {
    min-height: 100vh;
    background-color: var(--cor-analise);
    color: var(--cor-fonte-home);
    padding: 150px 0;
}

.content-analise h2 {
    font: 500 3rem/1.1 "Markazi Text", sans-serif;
    text-transform: uppercase;
}

footer {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-icon {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.footer p {
    margin: 0;
}

.dark{
    background-color: #000;
}

@media (max-width: 768px) {
    .content-home h1 {
        font-size: 3rem;
    }

    .content-home h3 {
        font-size: 1.5rem;
    }

    .btn-login {
        margin-left: 20px;
    }

    .content-planta img {
        height: 50vh;
    }
    
    .footer-icon {
        width: 30px;
    }
}
