:root {
    --cor-header: #000000 ;
    --cor-home: #0B192C;
    --cor-planta: #000000;
    --cor-analise: #0B192C;
    --cor-footer: #000000 ;
    --fonte-principal: "Inter", sans-serif;
}


* {
    margin: 0;
    padding: 0;
}