:root {
    --cor-header: #000000 ;
    --cor-home: #0B192C;
    --cor-planta: #000000;
    --cor-analise: #0B192C;
    --cor-footer: #000000 ;
    --fonte-principal: "Inter", sans-serif;
    /* --cor-fonte-header: */
    --cor-fonte-home: #FFFFFF;
    --cor-fonte-home2: #FF6500;
    --cor-fonte-planta: #FF6500;
}


* {
    margin: 0;
    padding: 0;
}

.content-home{
    background-color: var(--cor-home);
    height: 100vh;
    text-align: center;
    font-size: 4rem;
}

.content-home h1{
  color: var(--cor-fonte-home);  
}

.content-home h3 {
    color: var(--cor-fonte-home2);  
  }
  

.content-planta{
    background-color: var(--cor-planta);
    height: 100vh;
    display: flex;
    
}

.content-planta h1{
    color: var(--cor-fonte-planta);
    height: 100vh;
    font-size: 2rem;
}